@import "src/scss/colors";
@import "src/scss/text";

.top-bar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 1440px;
  background-color: white;
}

.top-bar-logo-container {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 24px;
}


.log-in-text {
  @extend .text-xsmall;
  padding-right: 1rem;
  align-self: center;
}

.new-item {
  border-radius: 2px;
  padding: 0 0.3rem;
  background-color: #fcc820;
  font-size: 12px !important;
  font-weight: 600;
  color: #121212 !important;
  text-transform: uppercase;
  text-align: center;
}

.top-bar-container {
  margin: 0 0.75rem;
  display: grid;
  grid-template-columns: 0.5fr repeat(7, 1fr) 2fr 2fr 0.5fr;
  height: 100%;

  div {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    cursor: pointer;

    span {
      @extend .text-xsmall;
      color: $gray-text-color;
      line-height: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}