@import "scss/text";
@import "scss/colors";
@import "scss/logos";

.main-content {
  text-align: center;
  width: 1440px;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 1440px;
  background-color: white;
}

.top-bar-logo-container {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 24px;
}


.menu-arrow {
  background-image: url("images/menu-arrow.svg");
  width: 24px;
  height: 24px;
}


.log-in-text {
  @extend .text-xsmall;
  padding-right: 1rem;
  align-self: center;
}

.log-in-button {
  @extend .text-xsmall;
  height: 36px;
  padding: 8px 12px;
  border: 2px solid #121212;
  border-radius: 4px;
  background-color: #fcc820;
  background-size: cover;
  font-weight: 600;
  color: #121212;
  text-decoration: none solid rgb(18, 18, 18);
  line-height: 16px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $bg-color;
  }
}


.new-item {
  border-radius: 2px;
  padding: 0 0.3rem;
  background-color: #fcc820;
  background-size: cover;
  font-size: 12px !important;
  font-weight: 600;
  color: #121212 !important;
  text-decoration: none solid rgb(18, 18, 18);
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 0.3rem;
}


.top-bar-grid {
  margin: 0 0.75rem;
  display: grid;
  grid-template-columns: 0.5fr repeat(7, 1fr) 2fr 2fr 0.5fr;
  height: 100%;

  div {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    cursor: pointer;

    span {
      @extend .text-xsmall;
      color: $gray-text-color;
      line-height: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.mui-example {
  padding-top: 170px;
  width: 100%;
  padding-bottom: 5rem;
  background-color: $bg-color;
}


.title {
  line-height: 72px;
}

.description {
  width: 756px;
  height: 72px;
  font-size: 24px;
  color: $font-color;
  text-decoration: none solid rgb(18, 18, 18);
  line-height: 36px;
  text-align: center;
  display: inline;
}

.email-input-group {
  padding-top: 31px;
  padding-bottom: 80px;
}

.input-email {
  min-width: 284px;
  height: 0.75rem;
  padding: 16px;
  border: 2px solid #121212;
  border-radius: 4px;
  background-color: $white-color;
  font-size: 16px;
  color: $font-color;
  margin-right: 1.5rem;
  cursor: pointer;

  &::placeholder {
    color: $gray-color;
  }

  &:focus {
    outline: none !important;
    border-color: $valid-green-color !important;
    color: unset !important;
  }

  &:invalid {
    outline: none !important;
    border-color: $invalid-red-color;
    color: $invalid-red-color;
  }
}

.button {
  @extend .font-semi-bold;
  padding: 14px 30px;
  border: 2px solid #121212;
  border-radius: 4px;
  background-color: #fcc820;
  font-size: 16px;
  color: #121212;
  text-decoration: none solid rgb(18, 18, 18);
  line-height: 16px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $bg-color;
  }
}


.hero-img {
  width: 1170px;
  height: 464px;
  fill: #dadada;
  background-image: url("images/hero.svg");
  margin: auto;
}

.text-link {
  color: $link-color;
  display: inline-block;
}


.questions {
  background-color: #ffffff;
  width: 1170px;
  text-align: left;
  margin-bottom: 100px;
  margin-top: 80px;

  div {
    //margin-bottom: 3rem;
    margin-bottom: 50px;

    p {
      @extend .text-medium;
      @extend .font-bold;
      line-height: 48px;
      color: $black-color;
      margin-top: 0;
      margin-bottom: 24px;
    }

    span {
      @extend .text-small;
      color: $font-color;
      line-height: 36px;
      display: block;
    }

    div {
      p {
        font-size: 24px;
        color: #121212;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 17px;
      }

      span {
        font-size: 20px;
        color: #121212;
        line-height: 28px;
        margin-bottom: 30px;
      }
    }
  }
}


.social-n-terms {
  @extend .text-xsmall;
  color: #acacac;
  display: flex;
  flex-direction: row;

  span {
    margin-right: 20px;
  }

  span:last-of-type {
    margin-right: 0;
  }
}

.social-media-logos {
  margin-left: 60px;

  * {
    margin-left: 1rem;
  }
}


.copyright {
  @extend .text-xsmall;
  height: 14px;
  opacity: 0.5;
  color: #acacac;
  text-align: left;
}

.footer {
  width: 1170px;
  background-color: $black-color;
  padding: 8rem 135px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 5rem;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-single-menu {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;

  p {
    opacity: 0.5;
    font-size: 12px;
    color: $gray-color;
    line-height: 32px;
    letter-spacing: 2px;
  }

  span {
    font-size: 16px;
    color: $gray-color;
    line-height: 32px;
  }
}
