@import "scss/text";
@import "scss/colors";
@import "scss/icons";
@import "scss/generic";

.main-content {
  text-align: center;
  width: 1440px;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mui-example-header {
  padding-top: 148px;
  width: 100%;
  padding-bottom: 5rem;
  background-color: $bg-color;
}

.title {
  line-height: 72px;
  display: inline-block;
}

.description {
  margin-top: 30px;
  font-size: 24px;
  color: $font-color;
  text-decoration: none solid rgb(18, 18, 18);
  line-height: 36px;
  text-align: center;
  display: inline-block;
}

.email-input-group {
  padding-top: 1.75rem;
  padding-bottom: 80px;
}

.input-email {
  min-width: 284px;
  height: 0.75rem;
  padding: 16px;
  border: 2px solid #121212;
  border-radius: 4px;
  background-color: $white-color;
  font-size: 16px;
  color: $font-color;
  margin-right: 1.25rem;
  cursor: pointer;

  &::placeholder {
    color: $gray-color;
  }

  &:focus {
    outline: none !important;
    border-color: $valid-green-color !important;
    color: unset !important;
  }

  &:invalid {
    outline: none !important;
    border-color: $invalid-red-color;
    color: $invalid-red-color;
  }
}


.hero-img {
  width: 1170px;
  height: 464px;
  fill: #dadada;
  background-image: url("images/hero.svg");
  margin: auto;
}


.questions-and-description {
  background-color: $white-color;
  width: 1170px;
  text-align: left;
  margin-bottom: 100px;
  margin-top: 80px;

  div {
    margin-bottom: 50px;

    p {
      @extend .text-medium;
      @extend .font-bold;
      line-height: 48px;
      color: $black-color;
      margin-top: 0;
      margin-bottom: 24px;
    }

    span {
      @extend .text-small;
      color: $font-color;
      line-height: 36px;
      display: block;
    }

    div {
      p {
        font-size: 24px;
        color: $font-color;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 17px;
      }

      span {
        font-size: 20px;
        color: $font-color;
        line-height: 28px;
        margin-bottom: 30px;
      }
    }
  }
}


