$primary-color: #333;
$bg-color: #f3f3f3;
$font-color: #121212;
$gray-color: #acacac;
$gray-text-color: #666666;
$black-color: #000000;
$link-color: #6666ff;
$white-color: #ffffff;
$yellow-color: #fcc820;

$valid-green-color: #00af7b;
$invalid-red-color: #ab003d;