.icon-medium {
    width: 40px;
    height: 40px;
}

.icon-small{
    width: 24px;
    height: 24px;
}

.icon-xsmall {
    width: 16px;
    height: 16px;
}

.menu-arrow-icon {
    background-image: url("/src/images/menu-arrow.svg");
}

.uxpin-logo-black-fill {
    background-image: url("/src/images/UXPin-Logo-BlackFill.svg");
}

.uxpin-logo-white-fill {
    background-image: url("/src/images/UXPin-Logo-WhiteFill.svg");
}

.facebook-logo {
    background-image: url("/src/images/facebook-logo.svg");
    background-repeat: no-repeat;
}

.twitter-logo {
    background-image: url("/src/images/twitter-logo.svg");
    background-repeat: no-repeat;
}

.dribble-ball-logo {
    background-image: url("/src/images/dribbble-ball-logo.svg");
    background-repeat: no-repeat;
}